# Virtual Environment
venv/
env/
.venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# OS Specific
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# Temporary scratch media & logs
.tempmediaStorage/
*.log
